<a href="https://colab.research.google.com/github/daaaanish17/Machine-Learning-Assignment/blob/main/Machine_Learning_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [20]:
df = pd.read_csv('Raw_Skills_Dataset.csv')
df.head()

          RAW DATA
0         What ifs
1        seniority
2      familiarity
3  functionalities
4          Lambdas

The info() function is used to print a concise summary of a DataFrame.

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34116 entries, 0 to 34115
Data columns (total 1 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   RAW DATA  34116 non-null  object
dtypes: object(1)
memory usage: 266.7+ KB

#### CLEANING DATASET

Checking Missing Values

In [6]:
df.isna().sum()

RAW DATA    0
dtype: int64

Importing Regular Expression Library

In [21]:
import re

Dropping special character

In [23]:
df['RAW DATA'] = df['RAW DATA'].map(lambda x: re.sub(r'\W+', ' ', x))

Converting text into lowercase

In [78]:
df['RAW DATA'] = df['RAW DATA'].str.lower()

Removing whitespace from the beginning and end of a string

In [25]:
df['RAW DATA'] = df['RAW DATA'].str.strip()

Importing Natural Language Toolkit(nltk)

In [29]:
import nltk
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords

Downloading stopwords package from nltk

In [31]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

Removing stopwords:

Eliminate words that are so commonly used that they carry very little useful information.

In [34]:

stop_words = set(stopwords.words('english'))

Lemmatization:

A method that switches any kind of a word to its base root mode is called Lemmatization.

In [35]:

lemmatizer = WordNetLemmatizer()

In [37]:
df['RAW DATA']

0                                            what ifs
1                                           seniority
2                                         familiarity
3                                     functionalities
4                                             lambdas
                             ...
34111                                     negotiation
34112                                       deadlines
34113    self motivated enthusiastic and strong drive
34114                                     negotiation
34115                                       deadlines
Name: RAW DATA, Length: 34116, dtype: object

Downloading some important packages

In [39]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [45]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

True

#### Extracting Technical(Hard) skills?

Creating a new column

In [52]:
df['skills'] = None
df.head()

          RAW DATA skills
0         what ifs   None
1        seniority   None
2      familiarity   None
3  functionalities   None
4          lambdas   None

In [80]:
for i in range(len(df)):
  words = nltk.word_tokenize(df['RAW DATA'][i]) #tokenization (Tokenization is a way of separating a piece of text into smaller units called tokens.)
  words = [lemmatizer.lemmatize(i) for i in words if not i in stop_words] #performing lemmatization and also removing stop words
  words = ' '.join(words)
  df.loc[[i], ['skills']] = words

Technical(Hard) skills

In [95]:
df[84:90]

          RAW DATA         skills
84    python shell   python shell
85  ipc mechanisms  ipc mechanism
86          tcp ip         tcp ip
87           kafka          kafka
88             zmq            zmq
89            grpc           grpc